<!-- <div class="flex-row" style="min-width: 1000px"> -->
<!-- <div *ngIf="visualizationType == 'general bar chart'" style="justify-content: center;">
        <mat-form-field style="margin-left: 2%">
            <mat-label>Limit</mat-label>
            <mat-select matNativeControl [(value)]="selectedSize" (selectionChange)='rebuildGeneralBarChart()'>
                <mat-option value='5'>5</mat-option>
                <mat-option value='10'>10</mat-option>
                <mat-option value='15'>15</mat-option>
                <mat-option value='20'>20</mat-option>
                <mat-option value='25'>25</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 2%">
            <mat-label>Sort</mat-label>
            <mat-select matNativeControl [(value)]="selectedSort" (selectionChange)='rebuildGeneralBarChart()'>
                <mat-option value='ASC'>ASC</mat-option>
                <mat-option value='DESC'>DESC</mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div *ngIf="visualizationType == 'general bar chart'" style="justify-content: center;">
    <mat-form-field style="margin-left: 2%">
        <mat-label>Limit</mat-label>
        <mat-select matNativeControl [(value)]="selectedSize" (selectionChange)='rebuildGeneralBarChart()'>
            <mat-option value='5'>5</mat-option>
            <mat-option value='10'>10</mat-option>
            <mat-option value='15'>15</mat-option>
            <mat-option value='20'>20</mat-option>
            <mat-option value='25'>25</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 2%">
        <mat-label>Sort</mat-label>
        <mat-select matNativeControl [(value)]="selectedSort" (selectionChange)='rebuildGeneralBarChart()'>
            <mat-option value='ASC'>ASC</mat-option>
            <mat-option value='DESC'>DESC</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="row">

    <div #chart id="chart"></div>
</div>
<!-- <app-topics-matrix [clusters]="clusters"></app-topics-matrix> -->
<!-- <ol>
                <li *ngFor="let g of selectedGroups">
                    {{ g.group_name}}
                </li>
            </ol> -->
<div style="margin-top: 25px" class="row">
    <div #topicmatrix id="topicmatrix"></div>
</div>
<div style="margin-top: 25px" class="row">
    <div #topicchart id="topicchart"></div>
</div>
<div *ngIf="groupsData && groupsData.length > 0" class="row">
    <p-table #dt [columns]="cols" [value]="groupsData" [paginator]="true" [rows]="5" dataKey="group_name">
        <!-- <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                    
                </ng-template> -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
            <!-- <tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                        <div *ngSwitchCase="'year'">
                                            Value > {{yearFilter}}
                                            <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                                            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                                        </div>
                                        <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                                        <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                                        <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt.filter($event.target.value, col.field, 'custom')">
                                    </th>
                                </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td>{{rowData.group_name}}</td>
                <td>{{rowData.members}}</td>
                <td>
                    <ul>
                        <li *ngFor="let g of rowData.topics.split(',')">
                            {{g}}
                        </li>
                    </ul>
                </td>
                <!-- <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    <b>Description: </b>{{rowData.group_description}}
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>